
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid');

p{
    font-size: 30px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}
.btn-search{
    padding-left: 20px;
    font-size: 10px;

}